@import 'src/theme/theme.scss';

.bdm-loading-icon {
  width: 100px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &__circle {
    width: 10px;
    height: 10px;
    background-color: #666;
    border-radius: 50%;
  }
}
