@import 'src/theme/theme.scss';

.bdm-modal {
  max-width: 600px;
  width: 100%;
  background-color: $white;
  border-radius: 20px;
  padding: 20px;
  animation: showModal 0.5s ease-out;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    background-color: $blue-btn-primary;
    color: $white;
    margin: -20px -20px 60px;
    border-radius: 18px 18px 0 0;
    font-size: 14px;
    font-weight: 500;
    color: $white-1;
  }

  &__btns {
    margin-top: 20px;
    display: flex;
    align-items: center;

    &__confirm {
      min-width: unset;
      flex: 1;
      margin-right: 12px;
    }

    &__cancel {
      background-color: $white-1;
      color: #000;
      min-width: unset;
      flex: 1;
    }
  }
}

@keyframes showModal {
  0% {
    transform: translateY(50%);
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
