@import 'src/theme/theme.scss';

.bdm-markdown {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  width: 100%;
  height: 100%;

  & table,
  tr,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  td,
  th {
    padding: 4px;
  }
}
