@import 'src/theme/theme.scss';

.Toastify__toast-container {
  width: 360px;
  padding: 0;
  background-color: transparent;
  border-radius: 10px;
  overflow: visible;
}

.Toastify__toast {
  width: 360px;
  background-color: transparent !important;
  color: #fff;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  border-radius: 10px;
  overflow: visible;
}

.Toastify__toast-body {
  width: 360px;
  padding: 0;
  border-radius: 10px;
  background-color: transparent;
  overflow: visible;
}

.Toastify__close-button {
  display: none;
  visibility: none;
}
