@import 'src/theme/theme.scss';

.bdm-tab-bar {
  height: 32px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3px 4px;
  animation: show 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
